

// ------------- Footer -----------

/* -----------------
Footer Variables */

$contact-hover:green; 
$footer-backColor: black;
$footer-font: whitesmoke;


#footer {
    width: 100%;
    height: 60px;
    background-color: $footer-backColor;
    display: table;
    text-align: center;
    font-size: 18px;
    color: $footer-font;
    letter-spacing: 2px;

    p{
        display: table-cell;
        margin: 0;
        vertical-align: middle;
    }
}


a.contact {
    text-decoration: none;
    color: $footer-font;
    &:hover {
        color: $contact-hover;
    }
}