
// Screen Sizes

$desktop: 769px;
$mobileL: 425px;
$mobileS: 320px;
$landscape: 768px;


// front

@import url('https://fonts.googleapis.com/css?family=Parisienne|Tangerine');
// Font variables
$front-main: 'Tangerine', cursive;
$front-sub: 'Parisienne', cursive;